/* Estilos generales del formulario */
.form-container {
    width: 500px; 
    height: 600px; 
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('../imagenes/Registro'); 
  }
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFF;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #f9f9f9;
    border-radius: 50px; 
    
  }
  
  .form-input:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color:  #54787d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
    border-radius: 50px; 
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .form-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
  }
  